<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      #testId {
        color: blue;
      }
    </style>
  </head>

  <body>
    <yzz>
      <h1>模板语法</h1>
      <h2>插值</h2>

      <h3>文本</h3>
      <span>Message: {{ msg }}</span>

      <h3>原始 HTML</h3>
      <p>Using mustaches: {{ rawHtml }}</p>
      <p>Using v-html directive: <span v-html="rawHtml"></span></p>

      <h3>特性</h3>
      <div v-bind:id="dynamicId">bindId</div>
      <button v-bind:disabled="isButtonDisabled">Button</button>
      <h3>使用 JavaScript 表达式</h3>
      {{ number + 1 }}

      {{ ok ? 'YES' : 'NO' }}

      {{
        message
          .split('')
          .reverse()
          .join('')
      }}
      <div v-bind:id="'list-' + id">
        属性值包含js表达式：属性id={{ 'list-' + id }}
      </div>
      这是语句，不是表达式：
      {{ var a = 1 }}
      <br />
      流控制也不会生效，请使用三元表达式：
      {{ if (ok) { return message } }}
      <h2>指令</h2>
      <p v-if="seen">现在你看到我了</p>
      <h3>参数</h3>
      <a v-bind:href="url" target="_blank">v-bind:href指令</a>
      <br />
      <a v-on:click="alertMe">点击弹窗函数</a>
      <h3>动态参数</h3>
      <a v-bind:[attributename]="url" target="_blank"> v-bind:href动态指令 </a>
      <a v-on:[eventname]="alertMe"> 绑定处理函数 </a>
    </yzz>
  </body>
  <script src="./index.js"></script>
</html>
